.home-wrapper {
  .homeMenu {
    width: 40rem;
    height: 60rem;
    background: skyblue;
    margin: 5rem auto;
    &-title{
      font-size: 5rem;
      text-align: center;
    }
    &-list{
      &Item {
        font-size: 3rem;
        text-decoration: none;
        color: white;
      }
    }
  }
}
