.home-wrapper
  .homeMenu
    .homeMenu-title
      リスト
    .homeMenu-list
      = link_to "・おみくじ", vanillas_omikuji_path, class: "homeMenu-listItem"
    .homeMenu-list
      = link_to "・ふたつめ", "#", class: "homeMenu-listItem"
    .homeMenu-list
      = link_to "・みっつめ", "#", class: "homeMenu-listItem"
    .homeMenu-list
      = link_to "・よっつめ", "#", class: "homeMenu-listItem"
